/**
@name alza.cz
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.alza.cz") {
    /* list */
    #boxc .box .c1 {
        font-size: 16px !important;
        color: red !important;
        left: 0px !important;
    }
    #boxc .box .c2 {
        font-size: 8px !important;
        color: silver !important;
        line-height: 16px !important;
    }
    /* detail */
    #prices .pricebase .c2 {
        color: silver !important;
    }
}
