/**
@name gmail.com
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("mail.google.com") {
    /* hide advert on mail detail */
    table.Bs.nH td.Bu.y3 {
        display: none;
    }
}
