/**
@name idnes.cz
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("idnes.cz") {
    .col-b { display: none; }
    #najdete { display: none; }
    #foot2 { display: none; }
    #art-related { display: none; }
    #hlavniz { display: none; }
    #discblog { display: none; }
}
