/**
@name LMC frogologic.com
@group lmc
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("doc.froglogic.com") {
    /* hide code examples except Python */
    p ~ .programlistingcontainer,
    .programlistingcontainer + p + .programlistingcontainer {
        display: none !important;
    }
    p + .programlistingcontainer {
        display: block !important;
        background: white;
    }
}
