/**
@name LMC AEdit
@group lmc
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wsaedit.prod.lmc.cz") {
    body {
        margin: 10px;
    }
    h1 font[size="-1"] {
        display: none;
    }

    /* last used values */
    .snpBgColor {
        margin: 1em 0 0;
    }
    .snpBgColor td a:first-child {
        padding: 0 0.5em;
        border: 1px solid lightgray;
        background: whitesmoke;
    }
    .snpBgColor td a:first-child:after,
    .snpBgColor td a[title="change log"]:after {
        content:"\a";
        white-space: pre;
    }
    .snpBgColor td a[title="change log"]:last-child:after {
        display: none;
    }

    /* page keys */
    h4 {
        color: green;
    }
    h4 ~ table {
        margin-left: 20px;
    }
    h4 + table + table {
        display: none;
    }

    /* links after page keys */
    .fLeft a[href] {
        padding: 0.5em;
        border: 1px solid lightgray;
        background: whitesmoke;
    }

    /* submit buttons */
    input.button[type="submit"] {
        padding: 0.5em;
        background-color: #428BCA;
        border-color: #357EBD;
        color: #FFFFFF;
    }
    /* back to normal */
    .snpBgColor input.button[type="submit"] {
        padding: 0;
        background-color: gray;
        border-color: gray;
        color: #FFFFFF;
    }
}
