/**
@name LMC Jenkins
@group lmc
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("jenkins.mgmt.lmc.cz") {
    table#main-table {
        background-image: none !important;
    }
}
