/**
@name ulozto.cz
@version 0.1
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("ulozto.cz") {
    /* header */
    #head {
        background-image: none;
        background-color: silver;
        height: 100px;
    }
    #head-wrapper {
        background: none;
    }
    li#menu-user {
        background: none;
        border: 0;
    }
    #menu-user li {
        border: 0;
    }
    #menu-user li.menu-upload a {
        background: none;
    }
    #headcontent #logo img {
        visibility: hidden;
    }

    /* search */
    form#search {
        padding: 0;
    }
    form#search p {
        visibility: hidden;
    }
    #search-input, #search-input2 {
        background-image: none;
        background-color: white;
    }
    #search-submit, #search-submit:hover {
        background: none;
    }
}
